@page
@model Palamedes.Web.Areas.Identity.Pages.ArtCreate.PickImageModel
@{
}

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload File</button>
    </form>