@{
    ViewData["Title"] = "Admin Start";
}

    <ul>
        <li><a href="/Admin/Arts">Manage Arts</a></li>
        <li><a href="/Admin/Users">Manage Users</a></li>
        <li><a href="/Admin/Artists">Manage Artists</a></li>
    </ul>