<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Page -->
    <title>Admin</title>

    <!-- Set page metadata -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Manu, Sepp, B3, Palamedes">
    <meta name="description" content="Palamedes Admin Area">
    <meta name="author" content="MVL, SH">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
</head>
<body>
    @RenderBody()
</body>
</html>
