<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Page -->
    <title>Admin</title>

    <!-- ========== Meta Tags ========== -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Manu, Sepp, B3, Palamedes">
    <meta name="description" content="Palamedes Admin Area">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">

    <!-- ========== Meta Tags ========== -->
    <meta name="author" content="SHMVL">
    <!-- ========== Title ========== -->
    <title> Palamedes -Portfolio</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/et-line.css" rel="stylesheet">
    <link href="~/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="~/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="~/css/main.css" rel="stylesheet">
    <!-- link as example -->
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
</head>
    <body>
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>

        <div class="body-container container-fluid">
            <a class="menu-btn" href="javascript:void(0)">
                <i class="ion ion-grid"></i>
            </a>
            <div class="row justify-content-center">
                <!--=================== side menu ====================-->
                <div class="col-lg-2 col-md-3 col-12 menu_block">

                    <!--logo -->
                    <div class="logo_box">
                        <a href="#">
                            <img src="~/img/logo.png" alt="cocoon">
                        </a>
                    </div>
                    <!--logo end-->
                    <div class="side_menu_section">
                        <ul class="menu_nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="admin" asp-controller="arts">
                                    art pieces
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="admin" asp-controller="artists">
                                    artists
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="admin" asp-controller="users">
                                    users
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!--filter menu -->
                    <!--filter menu end -->
                    <!--social and copyright -->
                    <div class="side_menu_bottom">
                        <div class="side_menu_bottom_inner">
                            <ul class="social_menu">
                                <li>
                                    <a href="#"> <i class="ion ion-social-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="ion ion-social-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="ion ion-social-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="ion ion-social-dribbble"></i> </a>
                                </li>
                            </ul>
                            <div class="copy_right">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                <p class="copyright">
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a rel="colorlib" href="https://colorlib.com" target="_blank">Colorlib</a>
                                </p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                    </div>
                    <!--social and copyright end -->

                </div>
                <!--=================== side menu end====================-->
                <!--=================== content body ====================-->
                <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
                    <main role="main" class="pb-3">

                        @RenderBody()
                    </main>
                </div>
                <!--=================== content body end ====================-->

            </div>
        </div>
        


        <!-- jQuery -->
        <script src="~/js/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/js/popper.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/waypoints.min.js"></script>
        <!-- Slick Carousel -->
        <script src="~/js/slick.min.js"></script>
        <!--Portfolio Filter-->
        <script src="~/js/imgloaded.js"></script>
        <script src="~/js/isotope.js"></script>
        <!-- Magnific -->
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <!--Counter-->
        <script src="~/js/jquery.counterup.min.js"></script>
        <!-- WOW JS -->
        <script src="~/js/wow.min.js"></script>
        <!-- Custom js -->
        <script src="~/js/main.js"></script>
    </body>
</html>
