@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">


    <main role="main" class="pb-3 justify-content-center">
        <!--=================== put content if needed====================-->
        <h1>you've been logged out, and you will be redirected to the homepage any second...</h1>
        <!--=================== put content if needed====================-->

    </main>
    
</div>