@model IEnumerable<G1_ee_groep1_palamedes.SH_MVL.Web.ViewModels.Components.PortofolioVm>


@foreach (var item in Model)
{
    <div class="grid-item  branding architecture  col-sm-12 col-md-6">
            <div class="project_box_one">
                <img src="~/img/portfolio/@(item.Name).png" alt="@item.Name" />
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>@item.Name -- by @item.Artist -- @item.Category</h4> 
                        </div>
                    </div>
                </div>
            </div>
    </div>
}

<!-- portofolio <a> item to add, area - controler - action ==> user -->