@model IEnumerable<G1_ee_groep1_palamedes.SH_MVL.Lib.DTO.ArtBasic>

@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">


    <main role="main" class="pb-3">
        <!--=================== put content if needed====================-->
        <!--=================== put content if needed====================-->
        <h1>Portofolio page</h1>

    </main>


    <div class="portfolio">
        <div class="container-fluid">
            <!--=================== portfolio start====================-->
            <div class="grid img-container justify-content-center no-gutters">
                <div class="grid-sizer col-sm-12 col-md-6 col-lg-3"></div>



                @await Component.InvokeAsync("Portofolio")


                <!--=================== portfolio end====================-->
            </div>
        </div>
    </div>

</div>
