@model IEnumerable<G1_ee_groep1_palamedes.SH_MVL.Lib.DTO.ArtBasic>

@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">


    <main role="main" class="pb-3">
        <!--=================== put content if needed====================-->
        <!--=================== put content if needed====================-->

    </main>


    <div class="portfolio">
        <div class="container-fluid">
            <!--=================== masaonry portfolio start====================-->
            <div class="grid img-container justify-content-center no-gutters">
                <div class="grid-sizer col-sm-12 col-md-6 col-lg-3"></div>




                @foreach (var item in Model)
                {
                    <div class="grid-item  branding architecture  col-sm-12 col-md-6">
                        <div class="project_box_one">
                            <img src="http://localhost:5000/api/arts/imagebyname/@(item.Name).jpg" alt="@item.Name" />
                            <div class="product_info">
                                <div class="product_info_text">
                                    <div class="product_info_text_inner">
                                        <i class="ion ion-plus"></i>
                                        <h4>@item.Id -- by @item.Name -- @item.Artist</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!--=================== masaonry portfolio end====================-->
            </div>
        </div>
    </div>

</div>
